{
    "Listen": ":8080",
    "DB": {
        "ConnInfo": "host=/run/postgresql dbname=urlredir",
        "Schema": "urlredir"
    },
    "Debug": false,
    "RealIPHeader": "X-Forwarded-For",
    "RemoteUserHeader": "X-Remote-User"
}

